## Lab Assignment: Introduction to Pandas
Student:     Zachary Stallard

### Objective: To introduce data manipulation and analysis in Python using Pandas and understand Pandas data structures and basic operations.

### Instructions:
In this lab assignment, you will be introduced to data manipulation and analysis in Python using Pandas. You will learn how to create and manipulate Pandas data structures, perform basic data analysis and cleaning operations, and apply built-in functions to analyze and transform the data.

You will be provided with the following five problems to solve. Please read the problem statement carefully and implement the solution using Pandas.

1. Read a CSV file into a Pandas DataFrame.
2. Display the first 5 rows of a Pandas DataFrame.
3. Display the last 5 rows of a Pandas DataFrame.
4. Create a new column in a Pandas DataFrame by combining two existing columns.
5. Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

### Deliverable:
Modify this notebook to include the python code as well as any documentation related to your submission.  Submit the notebook as your response in Blackboard.

### Grading Criteria:

Your lab assignment will be graded based on the following criteria:

- Correctness of the implementation
- Proper use of basic control structures and functions
- Code efficiency
- Clarity and readability of the code
- Compliance with the instructions and deliverables.

### Student Submission
1.  Read a CSV file into a Pandas DataFrame.

In [11]:

import pandas as pd

df = pd.read_csv('C:\\Users\\zpoke\OneDrive - email.davenport.edu\\Fall 2025\\DATA 747 - Python for Data Analytics\\Week 4\\data.csv')

2.  Display the first 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\zpoke\OneDrive - email.davenport.edu\\Fall 2025\\DATA 747 - Python for Data Analytics\\Week 4\\data.csv')

print("First 5 rows of the DataFrame:")
print(df.head())

First 5 rows of the DataFrame:
   Transaction_ID Product_Name     Category  Quantity  Price
0               1       Laptop  Electronics         1   1200
1               2        Mouse  Electronics         2     25
2               3         Book   Stationery         5     15
3               4     Keyboard  Electronics         1     75
4               5          Pen   Stationery        10      2

3.  Display the last 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\zpoke\OneDrive - email.davenport.edu\\Fall 2025\\DATA 747 - Python for Data Analytics\\Week 4\\data.csv')

print("Last 5 rows of the DataFrame:")
print(df.tail())

Last 5 rows of the DataFrame:
   Transaction_ID Product_Name     Category  Quantity  Price
5               6      Monitor  Electronics         2    300
6               7     Notebook   Stationery         3      5
7               8   Headphones  Electronics         1    150
8               9      Stapler   Stationery         1      8
9              10       Webcam  Electronics         1     60

4.  Create a new column in a Pandas DataFrame by combining two existing columns.

In [17]:
import pandas as pd

df = pd.read_csv('C:\\Users\\zpoke\OneDrive - email.davenport.edu\\Fall 2025\\DATA 747 - Python for Data Analytics\\Week 4\\data1.csv')

df['Product_Description'] = df['Category'] + ' - ' + df['Product_Name']

print("DataFrame with New Combined Column:")
print(df.head())

DataFrame with New Combined Column:
   Transaction_ID Product_Name     Category  Quantity  Price  \
0               1       Laptop  Electronics         1   1200
1               2        Mouse  Electronics         2     25
2               3         Book   Stationery         5     15
3               4     Keyboard  Electronics         1     75
4               5          Pen   Stationery        10      2

      Product_Description
0    Electronics - Laptop
1     Electronics - Mouse
2       Stationery - Book
3  Electronics - Keyboard
4        Stationery - Pen

5.  Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

In [16]:
import pandas as pd

df = pd.read_csv('C:\\Users\\zpoke\OneDrive - email.davenport.edu\\Fall 2025\\DATA 747 - Python for Data Analytics\\Week 4\\data.csv')

mean_price_by_category = df.groupby('Category')['Price'].mean()
print("Mean Unit Price by Category:")
print(mean_price_by_category)

Mean Unit Price by Category:
Category
Electronics    301.666667
Stationery       7.500000
Name: Price, dtype: float64